.speech {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}

.stage_directions{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color:rgb(183, 240, 160);
    color: black;
}

.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: rgb(172, 19, 19);
}
 p:hover{
    background-color: lightcoral;
    color: rgb(91, 158, 91);
}

.GUIDO{
    color: rgb(145, 78, 223);
}   

.ASCANIO{
    color:rgb(180, 34, 66);
}

#tableStyle{
    border-style: dashed;
    border-color:rgb(21, 53, 196);
    text-align: center;
    margin: 25px 0px 0px 350px;
}

tr:nth-child(even) {background-color: rgb(179, 90, 27);}

 .columnNrow{
    border-style: double;
    border-color: rgb(182, 164, 164);
    padding: 15px;
}

h6:hover{
    
    text-shadow: 2px 2px rgb(207, 28, 207);
    border-style: groove;
    border-color: rgb(26, 27, 27);
}